# API
PORT=3333
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/delivery?schema=public"
JWT_SECRET="change_me"
WHATSAPP_NUMBER="5575999999999"
CORS_ORIGIN="http://localhost:3000"
MENUIA_API_BASE_URL="https://chatbot.menuia.com"
MENUIA_LICENSE="hugocursos"

# Web
NEXT_PUBLIC_API_URL="http://localhost:3333/api"

# Admin seed user
SEED_ADMIN_EMAIL="admin@delivery.com"
SEED_ADMIN_PASSWORD="123456"
